<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css" type="text/css"> <!-- load bootstrap-theme css -->
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <style>
     
        .heading{
        font-family: 'Source Serif Pro', serif; 
        color: black;
        font-size: 80px;
        }
        .logo{
            width: 20%;
            height: 10%;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1 class="heading"> All Type Writers</h1>
        <br><br>
        <img class="logo" src="assets/img/logo.jpg" alt="The image contains logo">
        <br><br>
        <a href="#" class="btn btn-primary btn-m">Log in</a>
        <a href="#" class="btn btn-danger btn-m">Sign up</a>
        
    </div>

</div>
<script src="assets/js/jquery-3.2.1.js"></script>
<!-- New Inclusion of bootstrap.js because you are using bootstrap Modal -->
<script src="bootstrap/js/bootstrap.js"></script>
<script src="assets/js/login-modal.js"></script>
</body>
</html>
