
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All TYPE WRITERS</title>

    <!-- Bootstrap Core CSS -->
    
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css" type="text/css"> <!-- load bootstrap-theme css -->
    <link rel="stylesheet" href="sidebar/sidebarcss.css" type="text/css"> <!-- Sidebartheme-->
    <!-- Theme CSS -->
    <link href="index/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="index/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!--BOX for displayinf categories css-->
    <link rel="stylesheet" href="box.css" type="text/css"> <!-- Sidebartheme-->
    <style>
         .container.custom-container {
                 margin-left: 290px;
                 margin-top: 80px;
            }
            .container.custom-container1{
                    margin-left: 320px;
            }
            body{
                background-image:url('assets/img/cloudy-day.png');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
            }
    </style>
    
</head>

<body id="page-top">

<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">All Type Writers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="/profile/startastory" target="_blank">Start a story</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/logout">Logout</a>
                    </li>
                     <%if (user.facebook.name) {%>
                    <li class="page-scroll">
                        <a href="#menu-toggle"  id="menu-toggle">Hi!  <%=user.facebook.name%></a>
                    </li><%}%>
                    <%if (user.google.name) {%>                    
                    <li class="page-scroll">
                        <a href="#menu-toggle"  id="menu-toggle">Hi!  <%=user.google.name%></a>
                    </li><%}%>
                    <%if (user.local.name) {%>
                        <li class="page-scroll">
                        <a href="#menu-toggle"  id="menu-toggle">Hi!  <%=user.local.name%></a>
                    </li><%}%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<!--sidebar-->

<div class="container">
    <div class="row">
        <h2>Some text</h2>
        <hr/>
        
         <div id="wrapper">
        
    

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left:5;">
                <li class="sidebar-brand">
                    
                       <!-- <a href="#menu-toggle"  id="menu-toggle" style="margin-top:20px;float:right;" > <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i> -->
                    
                </li>
                <%if (user.facebook.photo) {%>               
                <li>
                    <a href="#"> <span style="margin-left:10px;"><img class="img-profile"src="<%=user.facebook.photo%>" alt="facebook-image here"></span>  </a><
                    
                </li><br><br><%}%>  
                 
                <li >
                    <a href="#" style="color: white;"><span style="margin-left:25px;">About Me</span> </a>
                </li>
                <li>
                    <a href="#" style="color: white"><span style="margin-left:25px;">My Stories</span> </a>
                </li>                
            </ul>
        </div></div>
        <!-- /#sidebar-wrapper -->

    


        <!--Bootstrap boxes to display categories-->
        <div class="custom-container container">
    <div class="row">
        <!-- Boxes de Acoes -->
        <div class="col-xs-24 col-sm-12 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                    <div class="info">
                        <h3 class="title">Unsung Heroes</h3>
                        <p>
                           Details
                        </p>
                        <div class="more">
                            <a href="/profile/unsungheroes" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div> 
        </div>
            
                    

        <div class="col-xs-12 col-sm-12 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-desktop"></i></div>
                    <div class="info">
                        <h3 class="title">Beyond Headlines</h3>
                        <p> Details
                        </p>
                        <div class="more">
                            <a href="#" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div> 
        </div>          
        <!-- /Boxes de Acoes -->
    </div>
</div>

<div class="custom-container1 container">
      <div class="row">

    <div class="col-xs-12 col-sm-12 col-lg-4">
            <div class="box mid">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-flag"></i></div>
                    <div class="info">
                        <h3 class="title">Under The Sun</h3>
                        <p> 
                        Details
                        </p>
                        <div class="more">
                            <a href="#" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div> 
        </div>

    </div>
    </div>










 <!-- jQuery -->
    
    <script src="assets/js/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="index/js/jqBootstrapValidation.js"></script>
    <script src="index/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="index/js/freelancer.min.js"></script>

     <!--sidebar-->
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  

   <!-- <script>
      $(document).ready(function() {
        $.getJSON("http://localhost:8080/verified",
        function(data){
            var html="";
            data.forEach(function(val){
                if(val.verified==true){
                var keys= Object.keys(val);
                html+= "<div>";
                keys.forEach(function(key){
                    html+=key +":"+ val[key]+"<br>";

                });
                html+="</div><br>"
            
             }   
            });
            $(".mystory").html(html);
        });



    });        

    </script>-->

</body>

</html>