<html
<head>
	<title>AllTypeWriters</title>
</head>
<body>
	<div>
	<%- body %>
	</div>










<!-- jQuery -->
    
    <script src="/assets/js/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>



</body>


</html>
