<html
<head>
	<title>AllTypeWriters</title>
	<!-- Bootstrap Core CSS -->
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" type="text/css"> <!-- load bootstrap-theme css -->
    <link rel="stylesheet" href="/layout.css" type="text/css">
    <!-- Theme CSS -->
    <link href="/index/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/index/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Pangolin" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

</head>
<style>
	body {
	 background-color:white
	}
	.container-fluid{
		margin-top: 150px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 100px;
	}
	.col-xs-12{
		text-align: center;
		border-bottom: 1px solid;		
	}
	h1{
		font-family: 'Fjalla One', sans-serif;
	}
	#bodyText{
		text-align: justify;
	    font-family: 'Open Sans', sans-serif;
	    padding-top: 100px;
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-bottom: 40px;
	}
	#fb-root{
		margin-left: 100px;
	}
	#likeButton:hover {
    	color: red;
    	cursor:pointer;
	}
</style>	
</head>
<body>
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/profile">All Type Writers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/profile"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="/profile/startastory" target="_blank">Start a story</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Story Display Part -->
	<div class="container-fluid">
		<div class="col-xs-12">
			<h1><%= title %></h1>
		</div>
		<br>
		<div class="col-xs-9">
			<h4>By, <%= author %></h4>
		</div>
		<div class="col-xs-3">
			<h6><%= date %></h6>
		</div>

		<div id ="bodyText">
			<%- body %>
			<br>
			<!--like button-->
			<i class="fa fa-heart fa-3x" id="likeButton"></i>
		</div>
		<div class="col-xs-13">
				<h3>Comments:</h3>
		</div>

		<div class="col-xs-13">		
			<form>
			    <div class="form-group">
			      <label for="comment"></label>
			      <textarea class="form-control" rows="2" id="comment" placeholder="Praise the StoryTeller"></textarea>
			    </div>
	  		</form>
	  	</div>
	</div>



<!-- jQuery -->
    
 <script src="/assets/js/jquery-3.2.1.js"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


 <!-- Theme JavaScript -->
<script src="/index/js/freelancer.min.js"></script>


</body>


</html>
